<div class="flex h-screen bg-gray-900 text-white">
  <div class="w-1/4 fixed h-full">
    <app-menu></app-menu>
  </div>
  <div class="w-1/4"></div> <!-- Spacer to account for the fixed menu -->
  <div class="w-1/2 ml-1/4 overflow-y-auto h-full custom-scrollbar">
    <div class="mb-4">
      <app-stories></app-stories>
    </div>
    <app-feed></app-feed>
  </div>
  <div class="w-1/4">
  <div routerLink="/profile" class="w-1/4 flex flex-col items-center justify-center bg-gray-800 rounded-lg shadow-md">
    <img [src]="picture" alt="Profile Picture" class="w-10 h-10 rounded-full mb-2 border border-gray-700">
    <p class="text-sm font-medium text-white"> Hey ! {{name}}</p>
  </div>

  </div>
</div>